# Telegram
python-telegram-bot==20.3

# Umgebungsvariablen laden
python-dotenv==1.0.1

# Asynchrones Event Loop Management
nest_asyncio==1.6.0

# HTTP Requests
requests==2.31.0

# Pandas für Datenmanipulation
pandas==2.2.1

# Asynchronous HTTP Requests
aiohttp==3.9.3

# TwelveData API für Echtzeit-Marktdaten
twelvedata==1.1.2

# WebSocket für Echtzeitdaten
websocket-client==1.5.1

# Task Scheduler für geplante Aufgaben
apscheduler==3.8.1

# Flask für Web-Dashboard
flask==2.2.2

# Hilfsbibliothek für die Installation von Paketen
setuptools==67.6.0